* {
    margin: 0;
    padding: 0;
}

/*section 영역 스타일*/
.section {
    background-color: white;
    width: 1020px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    padding-bottom: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}
.section>div#s_box1 {
    width: 1000px;
    height: 450px;
    margin-bottom: 50px;
}
div#s_box1>div {
    float: left;
}
div#s_box1>div.image_slider {
    width: 740px;
    height: 450px;
    box-sizing: border-box;
    margin-right: 10px;
}
div#s_box1>div.t_banner1, div#s_box1>div.t_banner2 {
    width: 250px;
    box-sizing: border-box;
}
.t_banner1 {
    background-image: url("images/my1.png");
    background-size: 200px;
    background-repeat: no-repeat;
    background-color: #999;
    height: 280px;
    position: relative;
}
.t_banner1>h2 {
    color: white;
    text-shadow: 1px 2px black;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.t_banner2 {
    height: 170px;
    padding: 5px;
}
.t_banner2>b {
    line-height: 45px;
}

.ex_image {
    width: 100%;
    height: 100%;
    background-image: url("images/img_lights.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

