body {
    background-color: aliceblue;
}

/*section s_box2 스타일*/
.section>div#s_box2 {
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.item {
    width: 220px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.item>img {
    width: 100%;
}

/*footer 스타일*/
.footer {
    background-color: black;
    color: whitesmoke;
    height: 200px;
}
.f-wrap {
    width: 1000px;
    margin: 0 auto;
    padding-top: 30px;
}
.footer a {
    display: inline-block;
    margin: 0 20px 10px 20px;
    color: #808080;
    font-size: 20px;
    text-decoration: none;
}
.footer a:visited {
    color: #808080;
}
.footer p {
    margin-top: 0;
    margin-bottom: 0;
}
.footer p span {
    display: inline-block;
    margin-left: 20px;
    line-height: 1.6em;
}